.form-style {

    display: flex;
    flex-direction: row;
    border: none;
}

#form-input {
    border: none;
}

#navbar-links {
    position: relative;
    left: 20vw;
}

.nav-link {
    border-radius: 10px;
}

a.nav-link:hover {
    background-color: rgba(167, 167, 170, 0.555);
}

a.nav-link:active {

    text-decoration: underline;
    text-decoration-color: rgb(6, 129, 230);
}

.navbar {
    position: fixed;
}

#fb-icon {
    color: rgb(0, 89, 255);
}